<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход на FindDeal</title>
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'All image/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>
<body>
    <button type="button" class="btn_theme">Другая тема</button>
    <div class="container">
        <div class="form-wrapper">
            <form method="post">
                {% csrf_token %}
                <h1>Вход</h1>
                <div class="input-box">
                    <input name="username" type="text" placeholder="Логин" required>
                    <img src="{% static 'All image/light-theme/Login.png' %}" alt="icon-login" width="25"
                         data-light="{% static 'All image/light-theme/Login.png' %}"
                         data-dark="{% static 'All image/dark-theme/Login_d.png' %}">
                </div>
                <div class="input-box">
                    <input name="password" type="password" placeholder="Пароль" required>
                    <img src="{% static 'All image/light-theme/Password.png' %}" alt="icon-password" width="25"
                         data-light="{% static 'All image/light-theme/Password.png' %}"
                         data-dark="{% static 'All image/dark-theme/Password_d.png' %}">
                </div>
                <div class="remember">
                    <label for=""><input type="checkbox">Запомнить меня</label>
                </div>
                <button type="submit" class="btn">Войти</button>
                <div class="registeration">
                    <a href="{% url 'register' %}"><button type="button" class="btn_low">Зарегистрироваться</button></a>
                </div>
                <div class="forgot-password">
                    <a href="{% url 'new_pas' %}"><button type="button" class="btn_low">Восстановить пароль</button></a>
                </div>
            </form>
        </div>
        <div class="animation-area">
            <div class="rotating-images">
                <img src="{% static 'All image/light-theme/Finder.png' %}"
                    alt="Image 1"
                    class="rotating-image"
                    data-light="{% static 'All image/light-theme/Finder.png' %}"
                    data-dark="{% static 'All image/dark-theme/Finder_d.png' %}">
                <img src="{%static 'All image/light-theme/Document.png' %}" alt="Image 2" class="rotating-image"
                     data-light="{% static 'All image/light-theme/Document.png' %}"
                     data-dark="{% static 'All image/dark-theme/Document_d.png' %}">
                <img src="{% static 'All image/light-theme/Hammer.png' %}" alt="Image 3" class="rotating-image"
                     data-light="{% static 'All image/light-theme/Hammer.png' %}"
                     data-dark="{% static 'All image/dark-theme/Hammer_d.png' %}">
            </div>
        </div>
    </div>
    <script src="{% static 'js/theme.js' %}"></script>
</body>
</html>